body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    padding-top: 50px;
}

.navbar {
    width: 100%;
    background-color: #f06000;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
}

.navbar2 {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarNome {
    font-size: 24px;
}

.botaonavbar {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.bloco {
    width: 90%;
    max-width: 800px;
}

.conteudo {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
}

.conteudo h1 {
    font-size: 25px;
}

.conteudo h2 {
    margin-bottom: 10px;
    font-size: 17px;
}

.conteudo h3 {
    margin-bottom: 10px;
    font-size: 17px;
}

.conteudo a {
    color: #f06000;
    text-decoration: none;
}

.conteudo a:hover {
    color:#000000;
}

